@model SisAuto.Models.MECANICOS
<div class="row">
    <div class="col-md-10">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            {
                <fieldset>
                    <legend>Cadastro de Mecânicos</legend>
                    <div class="row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(m=>m.NOMEMEC, new {@class="col-md-12 control-label"})
                            @Html.TextBoxFor(m=>m.NOMEMEC, new {@class="col-md-12 form-control" })
                            @Html.ValidationMessageFor(m=>m.NOMEMEC)
                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label("Estados", new { @class = "col-md-12 control-label" })
                            @Html.DropDownList("ddlEstados", new SelectList(ViewBag.allStates, "ESTADOID", "SIGLA"), "Selecione", new { @class = "form-control col-md-12", @ng_model = "Estados", ng_change = "getAllCitiesIdStatesMecanicos(Estados)" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label("Cidades", new { @class = "control-label col-md-12" })
                            <select ng-disabled="!Estados || !lstCitiesMecs" ng-options="item.NOME for item in lstCitiesMecs" ng-model="Cidades" class="form-control col-md-12" ng-change="getIdCitie(Cidades.CIDADEID)">
                                <option value="">Selecione</option>
                            </select>
                            @Html.HiddenFor(c => c.CIDADEID, new { @ng_model = "CidadeId", @ng_value = "CidadeId" })
                        </div>
                    </div>
                </fieldset>
            }
        }
    </div>
</div>