@model SisAuto.Models.CLIENTES

<div class="row" ng-controller="SisAutoCtrl">
    <div class="col-md-10">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            {
                <fieldset>
                    <legend>Cadastro de Clientes</legend>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(c=>c.NOMECLI, new {@class="col-md-12 control-label"})
                            @Html.TextBoxFor(c => c.NOMECLI, new {@class="col-md-12 form-control"})
                            @Html.ValidationMessageFor(c=>c.NOMECLI)
                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label("Estados",new {@class="col-md-12 control-label"})
                            @Html.DropDownList("ddlEstados", new SelectList(ViewBag.allStates, "ESTADOID", "SIGLA"), "Selecione", new { @class = "form-control col-md-12", @ng_model="Estados", ng_change = "getAllCitiesState(Estados)" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label("Cidades", new { @class = "control-label col-md-12" })
                            <select ng-disabled="!Estados || !lstCities" ng-options="item.NOME for item in lstCities" ng-model="Cidades"  class="form-control col-md-12" ng-change="getIdCitie(Cidades.CIDADEID)">
                                <option value="">Selecione</option>
                            </select>
                            @Html.HiddenFor(c => c.CIDADEID, new{@ng_model="CidadeId",@ng_value= "CidadeId" })
                        </div>
                     </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(c => c.BAIRROCLI, new { @class = "col-md-12 control-label" })
                            @Html.TextBoxFor(c => c.BAIRROCLI, new { @class = "col-md-12 form-control" })
                            @Html.ValidationMessageFor(c => c.BAIRROCLI)
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(c => c.RUACLI, new { @class = "col-md-12 control-label" })
                            @Html.TextBoxFor(c => c.RUACLI, new { @class = "col-md-12 form-control" })
                            @Html.ValidationMessageFor(c => c.RUACLI)
                        </div>
                        <div class="col-md-2 form-group">
                            @Html.LabelFor(c => c.NUMCLI, new { @class = "col-md-12 control-label" })
                            @Html.TextBoxFor(c => c.NUMCLI, new { @class = "col-md-12 form-control" })
                            @Html.ValidationMessageFor(c => c.NUMCLI)
                        </div>
                        <div class="col-md-3 form-group">
                            @Html.LabelFor(c => c.FONECLI, new { @class = "col-md-12 control-label" })
                            @Html.TextBoxFor(c => c.FONECLI, new { @class = "col-md-12 form-control" })
                            @Html.ValidationMessageFor(c => c.FONECLI)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(c=>c.CPFCLI, new {@class="control-label col-md-12"})
                            @Html.TextBoxFor(c => c.CPFCLI, new {@class="form-control col-md-12"})
                            @Html.ValidationMessageFor(c=>c.CPFCLI)
                        </div>
                        <div class="col-md-8 form-group">
                            @Html.LabelFor(c=>c.OBSCLI, new {@class="control-label col-md-12" })
                            @Html.TextAreaFor(c => c.OBSCLI, new{@class="form-control col-md-12" })
                            @Html.ValidationMessageFor(c=>c.OBSCLI)
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-success btn-block">Cadastrar</button>
                    </div>
                </div>
            }
        }
    </div>
</div>
