@model SisAuto.Models.UNIDMEDIDA
<div class="row">
    <div class="col-md-10">
       @using (Html.BeginForm())
       {
            @Html.ValidationSummary(true)
           {
                <fieldset>
                    <legend>Cadastro de Unidades de Medida</legend>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(u => u.DESCUNID, new { @class = "col-md-12 control-label" })
                                @Html.TextBoxFor(u => u.DESCUNID, new { @class = "col-md-12 form-control" })
                                @Html.ValidationMessageFor(c => c.DESCUNID)
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(u => u.SIGLAUNID, new { @class = "col-md-12 control-label" })
                                @Html.TextBoxFor(u => u.SIGLAUNID, new { @class = "col-md-12 form-control" })
                                @Html.ValidationMessageFor(c => c.SIGLAUNID)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success btn-block">Cadastrar</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
           }
       }
    </div>
</div>

